.cards-grid {
  width: 90%;
  max-width: 800px;
  height: 30vw;
  max-height: 350px;
  /*border: 1px solid white;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards-grid > .image-item {
  width: 20%;
  min-width: 100px;
  height: 50%;
  min-height: 100px;
}

.image-item > img {
  width: 97%;
  height: 97%;
  object-fit: cover;
  border-radius: 4px;
  transition: box-shadow 0.15s;
}

.image-item > img:hover {
  box-shadow: 0px 0px 8px yellow;
  cursor: pointer;
}

@media (max-width: 600px) {
  .cards-grid {
    height: 60vh;
    min-height: 500px;
  }

  .cards-grid > .image-item {
    width: 35%;
    height: 20%;
    min-width: 100px;
    min-height: 100px;
  }
}
